body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
    text-align: center;
}


p {
    font-size:larger;

}



ol {
    list-style: disc;
    border-color: white;
    color: green;
    font-weight: bold;

}

p{
    margin: 16px;

}